body {
  margin: 0 0;
}
.profile {
  background-color: #f1f9f9;
}
.work {
  background-color: #ccd7c5;
}
.tech {
  background-color: #fed99b;
}
.project {
  background-color: #fbffe2;
}
.name {
  padding-left: 25px;
}
.padstuff {
  padding-bottom: 20px;
}
h3 {
  margin-left: 10px;
}
.head {
  height: 40px;
}
section {
  background: #edffec;
  width: 100%;
  padding: 10px 0;
}
section .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}
.logo {
  margin-top: 3px;
}
.github {
  margin-top: 3px;
}
.logo a {
  text-decoration: none;
  background: #f8f0fb;
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding: 10px 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.logo a:hover {
  opacity: 0.8;
}

.menu .github a {
  text-decoration: none;
  background: #fdfce5;
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 30px;
}
.menu .github a:hover {
  opacity: 0.8;
}
.info {
  background: #e6e6fa;
  height: 80px;
}
.info ul {
  display: inline-flex;
}
.info ul li {
  margin-top: 15px;
  list-style: none;
  margin-left: 20px;
}
.info a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  background: #e0ffff;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 600;
}
.info a:hover {
  opacity: 0.8;
}
